/.idea/
/Libbox.xcframework/
xcuserdata/
.DS_Store
/build/
/sing-box.xcodeproj/project.pbxproj.back
CLAUDE.md
.claude
.mcp.json
/screenshots/
/fastlane/report.xml
/fastlane/test_output/
/fastlane/.bundle/
/fastlane/.cache/
