<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>287TTNZF8L.io.nekohasekai.sfajb.fileprovider</string>
	<key>com.apple.developer.team-identifier</key>
	<string>287TTNZF8L</string>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.io.nekohasekai.sfajb</string>
	</array>
	<key>get-task-allow</key>
	<false/>
</dict>
</plist>
