<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>NSApplicationServices</key>
	<dict>
		<key>Browses</key>
		<array>
			<dict>
				<key>NSApplicationServiceIdentifier</key>
				<string>sing-box:profile</string>
				<key>NSApplicationServiceUsageDescription</key>
				<string>Import sing-box profile from other devices</string>
				<key>NSApplicationServicePlatformSupport</key>
				<array>
					<string>iOS</string>
					<string>iPadOS</string>
				</array>
			</dict>
		</array>
	</dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>io.nekohasekai.sfa.update_profiles</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>AppIcon.icns</string>
			<key>CFBundleURLName</key>
			<string>sing-box</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sing-box</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
</dict>
</plist>
